button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9em;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

/* Uniwersalne neonowe podświetlenie */
button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* Standardowe przyciski */
.buy-btn,
.portfolio-btn,
.home-btn,
.back-btn {
  background-color: #007bff;
}

.buy-btn:hover,
.portfolio-btn:hover,
.home-btn:hover,
.back-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 0 15px #0056b3;
}

/* Kupno */
.buy-btn {
  background-color: #28a745;
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.5);
}

.buy-btn:hover {
  background-color: #218838;
  box-shadow: 0 0 15px #218838;
}

/* Sprzedaż */
.sell-btn,
.sell-all-btn {
  background-color: #dc3545;
  box-shadow: 0 0 10px rgba(220, 53, 69, 0.5);
}

.sell-btn:hover,
.sell-all-btn:hover {
  background-color: #b02a37;
  box-shadow: 0 0 15px #b02a37;
}

/* Wyłączone przyciski */
.sell-btn:disabled,
.sell-all-btn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
  box-shadow: none;
}

/* Depozyty */
.deposit-btn {
  background-color: #17a2b8;
  box-shadow: 0 0 10px rgba(23, 162, 184, 0.5);
}
.custom-deposit-btn {
  display: inline-block;
  background-color: #28a745;
  text-align: center;
  padding: 10px 20px;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.deposit-btn:hover {
  background-color: #138496;
  box-shadow: 0 0 15px #138496;
}
.custom-deposit-btn:hover {
  background-color: #218838;
  box-shadow: 0 0 15px #1e7e34;
}

/* Zamknięcie modala */
.close-modal-btn {
  background-color: #6c757d;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(108, 117, 125, 0.5);
}

.close-modal-btn:hover {
  background-color: #5a6268;
  box-shadow: 0 0 15px #5a6268;
}

/* Wylogowanie */
.logout-btn {
  background-color: #dc3545;
  box-shadow: 0 0 10px rgba(220, 53, 69, 0.5);
}

.logout-btn:hover {
  background-color: #c82333;
  box-shadow: 0 0 15px #c82333;
}

/* Przycisk zmiany */
.switch-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  font-size: 1em;
  transition: 0.2s ease-in-out;
}

.switch-button:hover {
  text-decoration: underline;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

/* Tryb ciemny */
.dark-mode .switch-button {
  color: #66b3ff;
  box-shadow: 0 0 10px rgba(102, 179, 255, 0.5);
}

@media (max-width: 768px) {
  button {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    justify-content: center;
  }

  .custom-deposit-btn {
    max-width: 100%;
  }

  .switch-button {
    font-size: 0.9em;
    margin-left: 0;
  }

  .actions,
  .crypto-actions {
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  .buy-btn,
  .sell-btn,
  .sell-all-btn,
  .deposit-btn,
  .logout-btn,
  .close-modal-btn {
    width: 100%;
  }
}
