.neon-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: black;
  z-index: -1;
}

.dark-mode {
  background-color: #0d0d0d;
  color: white;
}

.dark-mode .neon-icon {
  opacity: 0.9;
  filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0.8));
}

.neon-icon {
  opacity: 0.3;
  filter: drop-shadow(0 0 10px currentColor);
  position: absolute;
  font-size: 5rem;
  animation: floatAnimation 6s infinite alternate ease-in-out;
}

.bitcoin {
  color: #f7931a;
  left: 10%;
  top: 20%;
}
.ethereum {
  color: #3c3c3d;
  right: 15%;
  top: 40%;
}
.binance {
  color: #f3ba2f;
  left: 30%;
  bottom: 10%;
}
.dogecoin {
  color: #c2a633;
  right: 5%;
  bottom: 15%;
}
.ripple {
  color: #0085c0;
  left: 50%;
  top: 50%;
}

@keyframes floatAnimation {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes floatAnimation {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

@media (max-width: 768px) {
  .neon-icon {
    font-size: 3rem; /* Zmniejszony rozmiar ikon */
  }

  .bitcoin {
    left: 5%;
    top: 15%;
  }

  .ethereum {
    right: 10%;
    top: 30%;
  }

  .binance {
    left: 20%;
    bottom: 5%;
  }

  .dogecoin {
    right: 5%;
    bottom: 10%;
  }

  .ripple {
    left: 45%;
    top: 45%;
  }
}

@media (max-width: 480px) {
  .neon-icon {
    font-size: 2.5rem; /* Jeszcze mniejsze ikony dla bardzo małych ekranów */
  }

  .bitcoin {
    left: 2%;
    top: 10%;
  }

  .ethereum {
    right: 5%;
    top: 25%;
  }

  .binance {
    left: 15%;
    bottom: 5%;
  }

  .dogecoin {
    right: 2%;
    bottom: 8%;
  }

  .ripple {
    left: 40%;
    top: 40%;
  }
}
