.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #28a745;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 3s ease-in-out;
  min-width: 200px;
  text-align: center;
}

.popup p {
  margin: 0;
}

.popup.error {
  background-color: #dc3545;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
