button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9em;
}

.buy-btn,
.portfolio-btn,
.home-btn,
.back-btn {
  background-color: #007bff;
}

.buy-btn:hover,
.portfolio-btn:hover,
.home-btn:hover,
.back-btn:hover {
  background-color: #0056b3;
}

.buy-btn {
  background-color: #28a745;
}

.buy-btn:hover {
  background-color: #218838;
}
.sell-btn,
.sell-all-btn {
  background-color: #dc3545;
}

.sell-btn:hover,
.sell-all-btn:hover {
  background-color: #b02a37;
}

.sell-btn:disabled,
.sell-all-btn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.deposit-btn,
.custom-deposit-btn {
  background-color: #17a2b8;
}

.deposit-btn:hover,
.custom-deposit-btn:hover {
  background-color: #138496;
}

.close-modal-btn {
  background-color: #6c757d;
  margin-top: 10px;
}

.close-modal-btn:hover {
  background-color: #5a6268;
}

.logout-btn {
  background-color: #dc3545;
}

.logout-btn:hover {
  background-color: #c82333;
}

.switch-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  font-size: 1em;
}

.switch-button:hover {
  text-decoration: underline;
}

.dark-mode .switch-button {
  color: #66b3ff;
}

.amount-input::-webkit-inner-spin-button,
.amount-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
